body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
}

/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
}

/* Custom navbar */
.navbar-brand ,.navbar-nav>li>a {
  	padding-left: 30px;
    padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.navbar-nav>.active>a {
	opacity:.6;
}

#box td {
    padding-right: 50px;
}

#add {
    margin-top: 20px;
}

.flash {
    background-color: #FBB0B0;
    padding: 10px;
    width: 400px;
    font-style: normal;
    font-family: "Times New Roman", Times, serif;
    
}

