<!DOCTYPE html>
<html>
    <head>
      <title>KnowUs</title>
      <link rel="shortcut icon" href="../img/favicon.JPG" type="image/x-icon" />

      <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap_theme.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
      <!-- Custom Fonts -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
      <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Droid+Serif:100, 200, 300, 400,700,400italic,700italic' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,100' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
      <link rel= "stylesheet" href= "{{ url_for('static',filename='css/app.css') }}">
      <script>
          var userEmail = {
              "email": "{{ session['email'] }}"
          }
      </script>
      <!-- Bootstrap core JavaScript
       ================================================== -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="{{ url_for('static',filename='js/ie10-viewport-bug-workaround.js')}}"></script>
      <script src="{{ url_for('static',filename='js/angular.min.js')}}"></script>
      <script src="{{ url_for('static',filename='js/app.js')}}"></script>
    </head>
    <body ng-app="nousApp">

        <nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="MenuController as menu">
            <div class="container-full">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="/" style="font-size:65px;"><b>K</b>no<b>w</b>Us</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li ng-class="{active:menu.route=='/inbox'}"><a href="/">Home</a></li>
                        <li ng-class="{active:menu.route=='/mailboxes'}"><a href="/mailboxes">Mailboxes</a></li>
                        <li ng-class="{active:menu.route=='/showMoreContacts'}"><a href="/showMoreContacts">Contacts</a></li>
                        <li ng-class="{active:menu.route=='/personality-dashboard'}"><a href="/personality-dashboard">Personality Dashboard</a></li>
                        <li ng-class="{active:menu.route=='/tone-dashboard'}"><a href="/tone-dashboard">Tone Dashboard</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a>Hi {{ session['firstname'] }}</a></li>
                        <li><a href="/logout">Logout</a></li>
                        <li><a href="/delete">Delete Account</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container-full">

            <div class="starter-template">
                {% block body %}{% endblock %}
            </div>

        </div><!-- /.container -->
    </body>
</html>
