{% extends "enron-base.html" %}
{% block body %}
 
<style>
.bar {
  fill: #0C090A;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
  font-weight: bold;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#bar-x-axis path {
  display: none;
}

.breakdown-title {
  margin-left: 30px;
  font-size: 18px;
  font-family: helvetica;
}

.list-group-item.selected {
  font-weight:bold;
}

.big-5-description {
  line-height: 2;
}

.description-header {
  font-size: 18pt;
  font-weight:bold;
}

.big-5-overview {
  font-size: 14pt;
  text-align: justify;
  line-height: 2;
}

.big-5-description {
  font-size: 10pt;
  line-height: 2;
}

.score {
  font-size: 12pt;
  font-weight: bold;
}
</style>
<script>

 function buildPersonalityChart(contactData, update) {
 

  // contains both the user and contact data - set in the angular controller
  var userData = $('[ng-model="dashboard.selectedContact"]').scope().dashboard.userPersonality
  console.log(userData)
  // initialize array where data for chart will be kept
  var data = []

  // flatten and extract our user data to make it easier to work with
   userData.children.forEach(function(d) {
    obj = {};
    obj.cat = d.name
    obj.data = []
    d.children.forEach(function(dd) {
      childeObj = {}
      childeObj.name = dd.name;
      childeObj.user = dd.percentage
      obj.data.push(childeObj)
      })
    data.push(obj)
  })

  // merge the contact data with the user data 
  contactData.forEach(function(d,i) {
    d.data.forEach(function(dd,ii) {
      data[i].data[ii].contact = dd
    })
      
  })

    var margin = {top: 30, right: 20, bottom: 150, left: 40},
        width = $(".col-md-8").width() - margin.right - margin.left
        height = 300 

    // each of the Big 5 id elements corresponds to it's index within the data
    var index = $('.list-group-item').closest(".selected")[0].id

    var x0 = d3.scale.ordinal()
      .rangeRoundBands([0, width], .1);

    var x1 = d3.scale.ordinal();

    var y = d3.scale.linear()
        .range([height, 0]);

    // set the color for the user and contact
    var color = d3.scale.ordinal()
        .range(["#FEA600", "#696969"]);

    var xAxis = d3.svg.axis()
        .scale(x0)
        .orient("bottom");

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left")
        .ticks(10, "%");

    var svg = d3.select(".chart").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    // check to see if the user has chosen a big 5 category to view
    if (update == true) {
      
      // index allows us to know which element in the data array should be chosen
      index = $('.list-group-item').closest(".selected")[0].id

      // update the data
      updateData(index, data, update)
    } else{

  // used to create a new object that will allow us to create the grouped bar chart
  var userValues = d3.keys(data[index].data[0]).filter(function(key) { return key !== "name"  });
  
  // create the new object that stores the data in a format that allows easy creation of the 
  // grouped bar chart
  data[index].data.forEach(function(d) {
    d.values = userValues.map(function(name) { 
      return {name: name, value: +d[name]}; 
    });
  });

  
  // scale our data
  x0.domain(data[index].data.map(function(d) { return d.name; }));
  x1.domain(userValues).rangeRoundBands([0, x0.rangeBand()]);
  y.domain([0, 1])
  // y.domain([0, d3.max(data[index].data, function(d) { return d3.max(d.values, function(d) { return d.value; }); })])

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")

  // initialize the bars for the chart
  // in d3, a dataset for a group bar chart looks like {key1:val, key2:val, key3: array }
  // we need to first bind the key3 array to our g's and create the g elements
  var bar = svg.selectAll("rect")
      .data(data[index].data)
    .enter().append("g")
      .attr("class", "g")
      .attr("transform", function(d) { return "translate(" + x0(d.name) + ",0)"; });

  // bind the data in the object created around line 115 to rects and set their attributes
  // based on the data
  bar.selectAll("rect")
      .data(function(d) { return d.values; })
    .enter().append("rect")
      .attr("class","bar")
      .attr("width", x1.rangeBand())
      .attr("x", function(d) { return x1(d.name); })
      .attr("y", function(d) { return y(d.value); })
      .attr("height", function(d) { return  height - y(d.value); })
      .style("fill", function(d) { return color(d.name); });
  
  // initialize the legend
  var legend = svg.selectAll(".legend")
      .data(userValues.slice().reverse())
    .enter().append("g")
      .attr("class", "legend")
      .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

  // create the tiny square to indicate which color belongs to the user and contact
  legend.append("rect")
      .attr("x", width - 18)
      .attr("width", 18)
      .attr("height", 18)
      .style("fill", color);

  // add the labels to the legend
  legend.append("text")
      .attr("x", width - 24)
      .attr("y", 9)
      .attr("dy", ".35em")
      .style("text-anchor", "end")
      .text(function(d) { return d; });
  }

  function updateData(i, dataset, update) {
    /* 
      function to update the data when the user selects a new big 5 cat or a new contact is chosen
      the dataset parameter is optional - its only required when a new contact is selected
      it is not needed to update the chart of the selected contact
    */

  // select the proper svg
  var svg = d3.select(".chart")

  // initialize our data array that will hold the updated data
  // this is needed for when a user selects a new contact
  // d3 updates data by looking for new key-value pairs in the data
  // the way a grouped bar chart requires data makes it difficult to perform the update in 
  // a traditional way (i'll add more about this later - it's tricky until you grasp what's going on behind the scenes)
  updatedData=[]

  var userValues = d3.keys(data[i].data[1]).filter(function(key) { return key !== "name" && key !== "values" });


    data[i].data.forEach(function(d) {
      d.values = userValues.map(function(name) { 
        
        // push the data needed for updating the contact
        updatedData.push({name: name, value: +d[name]})

        return {name: name, value: +d[name]}; 
      });
    });

    x0.domain(data[i].data.map(function(d) { return d.name; }));
    x1.domain(userValues).rangeRoundBands([0, x0.rangeBand()]);
    y.domain([0, 1])
    // y.domain([0, d3.max(data[i].data, function(d) { return d3.max(d.values, function(d) { return d.value; }); })])

    svg.select('.x.axis')
      .call(xAxis);


    svg.select('.y.axis')
      .call(yAxis)
        .append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".51em")

  // this is the key to updating data 
  var bar = svg.selectAll(".bar").data(updatedData)

    bar.enter()

    // initialize our rects that will contain the new data
    bar.selectAll(".bar").append("rect").attr("class", "bar")

    // update the existing bars with the new data
    bar.transition()
      .duration(300)
      .ease("quad")
      .attr("width", x1.rangeBand())
      .attr("x", function(d) { 
        return x1(d.name); 
      })
      .attr("y", function(d) { 
        return y(d.value); })
      .attr("height", function(d) { return  height - y(d.value); })
      .style("fill", function(d) { return color(d.name); });

    // remove the previous data
    bar.exit()
      .transition()
      .duration(200)
      .ease("quad")
      .attr("width", 0)
      .remove();

  // update the legend
  var legend = svg.selectAll(".legend")
      .data(userValues.slice().reverse())
    .enter().append("g")
      .attr("class", "legend")
      .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

  legend.append("rect")
      .attr("x", width - 18)
      .attr("width", 18)
      .attr("height", 18)
      .style("fill", color);

  legend.append("text")
      .attr("x", width - 24)
      .attr("y", 9)
      .attr("dy", ".35em")
      .style("text-anchor", "end")
      .text(function(d) { return d; });
  }   


    $('.list-group-item').click(function(e){

      
      e.preventDefault();

      // each of the Big 5 id elements corresponds to it's index within the data
      i = $(this)[0].id

      // indicate that the previous button is no longer selected
      $('.list-group-item').closest('.selected').removeClass('selected')
      
      // indicate which button has been selected
      $(this).addClass("selected")
      
      // capitalize category
      category = $(this)[0].textContent.toUpperCase()

      // update title
      $(".breakdown-title").text('Breaking it down: ' + category)

      var intro = descriptions[category.toLowerCase()].intro
      var high = descriptions[category.toLowerCase()].high
      var low = descriptions[category.toLowerCase()].low

      $("#big-5-description-intro").text(intro)
      $("#big-5-description-high").text(high)
      $("#big-5-description-low").text(low)

      $(".description-header").text(category)

      // update data
      updateData(i,data,false)
    })

      var descriptions = {}
      descriptions.openness = {}
      descriptions.openness.intro = "Openness reflects a general appreciation for emotion, imagination, and adventure."
      descriptions.openness.high = "Open to experience are intellectually curious, open to emotion, sensitive to beauty and willing to try new things."
      descriptions.openness.low = "Tend to have more conventional, traditional interests; they are conservative and resistant to change."


      descriptions.conscientiousness = {}
      descriptions.conscientiousness.intro = "Conscientiousness is the personality trait of being thorough, careful, or vigilant."
      descriptions.conscientiousness.high = "Indicates a preference for planned rather than spontaneous behavior and aim for achievement against measures."
      descriptions.conscientiousness.low = "Indicates a preference for spontaneous behavior and tend to be less organized."


      descriptions.extraversion = {}
      descriptions.extraversion.intro = "Extraversion is characterized by breadth of activities (as opposed to depth), surgency from external activity/situations, and energy creation from external means"
      descriptions.extraversion.high = "Enjoy interacting with people, and are often perceived as full of energy. They tend to be enthusiastic, action-oriented individuals."
      descriptions.extraversion.low = "Tend to seem quiet, low-key, deliberate, and less involved in the social world."

      descriptions.agreeableness = {}
      descriptions.agreeableness.intro = "The agreeableness trait reflects individual differences in general concern for social harmony"
      descriptions.agreeableness.high = "Generally are considerate, kind, generous, trusting and trustworthy, helpful, and willing to compromise their interests with others"
      descriptions.agreeableness.low = "Generally are unconcerned with others' well-being, and are less likely to extend themselves for other people."


      descriptions['emotional range'] = {}
      descriptions['emotional range'].intro = "Emotional range describes the tendency to experience negative emotions, such as anger, anxiety, or depression."
      descriptions['emotional range'].high = "Tend to be emotionally reactive and vulnerable to stress"
      descriptions['emotional range'].low = "Tend to be calm, emotionally stable, and free from persistent negative feelings."
}

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="{{ url_for('static', filename='js/crossfilter.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src="{{ url_for('static', filename='js/dc.js')}}"></script>
<script src="{{ url_for('static', filename='js/queue.js')}}"></script>
<script src="{{ url_for('static', filename='js/d3.tip.min.js')}}"></script><div class="row" ng-controller="PersonalityController as dashboard">
  <div class="col-sm-12">
    <h2>Personality Dashboard</h2>
    <hr />
    <div class="row">
      <div class="col-md-6">
        <h3>The Big Five</h3>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="selectContact">Select a Contact</label>
          <select class="form-control" id="selectContact"
            ng-model="dashboard.selectedContact"
            ng-options="contact as (contact.name ? contact.name : contact.emails[0]) for contact in dashboard.contacts"
            ng-change="dashboard.getContactPersonality(true)">
          </select>
        </div>
      </div>
  </div>
  <div class="row">
    
    <div class="col-md-6 big-5-overview">
In psychology, the Big Five personality traits are five broad domains or dimensions of personality that are used to describe human personality, the five-factor model (FFM). The five factors are openness, conscientiousness, extraversion, agreeableness, and emotional range.
    </div>

    <div class="col-md-6">
      <!-- Big 5 for selected contact goes here -->
      <!-- <p>[[dashboard.contactPersonality]]</p> -->
            <ul class="list-group contact" >
              <button type="button" class="list-group-item contact selected" id="0" onclick="this.blur();">Openness</button>
              <button type="button" class="list-group-item contact" id="1" onclick="this.blur();">Conscientiousness</button>
              <button type="button" class="list-group-item contact" id="2" onclick="this.blur();">Extraversion</button>
              <button type="button" class="list-group-item contact" id="3" onclick="this.blur();">Agreeableness</button>
              <button type="button" class="list-group-item contact" id="4" onclick="this.blur();">Emotional Range</button>
            </ul>
    </div>

  </div>
  <hr />

<div class="row">
  <div class="col-md-8">
<div class="chart">
  </div>
  </div>
  <div class="col-md-4">
        <div class="description-header">Openness</div>
      <div class="big-5-description">
        <p class="big-5-description" id="big-5-description-intro">Openness reflects a general appreciation for emotion, imagination, and adventure. </p><hr />
        <p class="score">High Score</p>
        <p class="big-5-description" id="big-5-description-high">Open to experience are intellectually curious, open to emotion, sensitive to beauty and willing to try new things.</p>
        <p class="score">Low Score</p>
        <p class="big-5-description" id="big-5-description-low">Tend to have more conventional, traditional interests; they are conservative and resistant to change.</p>
    </div>
    </div>
  </div>
 
{% endblock body %}
