{% extends "enron-base.html" %}
{% block body %}

<html>
<head>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>

<h1>Enron Contacts</h1>

<script type="text/javascript">

  $(document).ready(function(){
    $(document).on("click", "#isSelect", function(e) {
      var email = $('input:radio[name=enronName]:checked').val()
      var userInfo = {
      "email":email
      };
      $.ajax({
       url: '/enron-inbox/' + email,
       type: 'POST',
       error: function(error) {
         console.log(error);
       }
     });
    });


    
  });
</script>
</head><body>

<input type="radio" name="enronName" value="kenneth.lay@enron.com"><span class="enronName" style="font-weight:bold"> Kenneth Lay</span></input> - CEO and Chairman  (1985 -2002) , Indicted on securities fraud and related charges<br /><br />

<input type="radio" name="enronName" value="jeff.skilling@enron.com"><span class="enronName" style="font-weight:bold"> Jeff Skilling</span></input> -  CEO (Feb-Aug 2001) , Convicted of securities fraud and related charges<br /><br />
<input type="radio" name="enronName" value="jeffrey.shankman@enron.com"><span class="enronName" style="font-weight:bold"> Jeffrey Shankman</span></input> -  President  Enron Global Mkts , indicted on bankruptcy charges<br /><br />
<input type="radio" name="enronName" value="vince.kaminski@enron.com"><span class="enronName" style="font-weight:bold"> Vince Kaminski</span></input> - Risk Management Head<br /><br />

<input type="radio" name="enronName" value="daren.farmer@enron.com"><span class="enronName" style="font-weight:bold"> Daren Farmer</span></input> - Logistics Head<br /><br />

<input type="radio" name="enronName" value="benjamin.rogers@enron.com"><span class="enronName" style="font-weight:bold"> Benjamin Rogers</span></input><br /><br />
<input type="radio" name="enronName" value="gerald.nemec@enron.com"><span class="enronName" style="font-weight:bold"> Gerald Nemec</span></input><br /><br />
<br/>
<br/>
<br/>

<input type='button' class="btn btn-default" value='Click to Select - Then check updated Inbox, Personality and Tone Dashboards' id='isSelect'>

</body>
</html>
{% endblock body %}
