{% extends "enron-base.html" %}
{% block body %}

<html>
<head>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>

<h1>Enron Contacts</h1>

<script type="text/javascript">

  $(document).ready(function(){
    $(document).on("click", "#isSelect", function(e) {
      var email = $('input:radio[name=enronName]:checked').val()
      var userInfo = {
      "email":email
      };
      $.ajax({
       url: '/enron-inbox/' + email,
       type: 'POST',
       error: function(error) {
         console.log(error);
       }
     });
    
      
    });
  
    
  });
</script>
</head><body>

<input type="radio" name="enronName" value="kenneth.lay@enron.com">Kenneth Lay</input><br>
<p> CEO and Chairman  (1985 -2002) , Indicted on securities fraud and related charges </p>
<input type="radio" name="enronName" value="jeff.skilling@enron.com">Jeff Skilling</input><br>
<p> CEO (Feb-Aug 2001) , Convicted of securities fraud and related charges </p>
<input type="radio" name="enronName" value="jeffrey.shankman@enron.com">Jeffrey Shankman</input><br>
<p> President  Enron Global Mkts , indicted on bankruptcy charges </p> 
<input type="radio" name="enronName" value="vince.kaminski@enron.com">Vince Kaminski</input><br>
<p> Risk Management Head </p>
<input type="radio" name="enronName" value="daren.farmer@enron.com">Daren Farmer</input><br>
<p> Logistics Head </p>
<input type="radio" name="enronName" value="benjamin.rogers@enron.com">Benjamin Rogers</input><br>
<input type="radio" name="enronName" value="gerald.nemec@enron.com">Gerald Nemec</input><br>
<br/>
<br/>
<br/>

<input type='button' value='Click to Select - Then check updated Inbox, Personality and Tone Dashboards' id='isSelect'>

</body>
</html>
{% endblock body %}
