{% extends "base.html" %}
{% block body %}
<script>
$(document).ready(function() {
  $(document).on("click", "#addSource", function(e) {
    var email = $("#email").val();
    var password = $("#password").val();
    var userInfo = {
      "email":email
    };
    $.ajax({
       url: '/add-mailbox',
       type: 'POST',
       data: JSON.stringify(userInfo, null, '\t'),
       contentType: 'application/json;charset=UTF-8',
       success: function(response) {
         var result = JSON.parse(response);
         window.location = result.browser_redirect_url;
       },
       error: function(error) {
         console.log(error);
       }
     });
  });
});

function removeSource(label) {
  var data = {
    "label":label
  };
  $.ajax({
     url: '/remove-mailbox',
     type: 'POST',
     data: JSON.stringify(data, null, '\t'),
     contentType: 'application/json;charset=UTF-8',
     success: function(response) {
       var result = JSON.parse(response);
       window.location = '/mailboxes';
     },
     error: function(error) {
       console.log(error);
     }
   });
};
function enable(label,force_status_check) {
    var data = {
        "label":label,
        "force_status_check":force_status_check
    };
    $.ajax({
        url: '/enable',
        type: 'POST',
        data: JSON.stringify(data, null, '\t'),
        contentType: 'application/json;charset=UTF-8',
        success: function(response) {
          var result = JSON.parse(response);
          window.location = '/mailboxes';
      },
      error: function(error) {
        console.log(error);
        }
      });
};
</script>
<h2> List of mailboxes </h2>
{% if session['is_demo'] %}
<h2>Demo Account for {{ session['email'] }}</h2>
<p>This is a demo account as such you cannot manage associated mailboxes</p>
<p>You can check out the personality and tone dashboards though</p>
{% else %}
<div>
    <table>
        <tr>
            <th>Username</th>
            <th>Status</th>
            <th>Option</th>
        </tr>
        {% for source in sources %}
        <tr id = "box">
            <td>{{ source["username"] }}</td>
            <td>{{ source["status"] }}</td>
            <td><a href="javascript: removeSource('{{ source["label"]}}')">Remove</button></td>
            {%if source["status"] == "DISABLED"%}
              <td><a href="javascript: enable('{{source["label"]}},{{source["force_status_check"]}}')">Enable Account</button></td>
            {%endif%}

        </tr>
        {% endfor %}

    </table>
</div>
{% if mailboxcount == 0 %}
<div>
    <p id = "add">Enter the email address for the mailbox you would like to add:</p>
    <div class="col-md-4">
      <div class="form-group">
        <label>Email:</label>
        <input id="email" type="email" class="form-control" />
      </div>
      <div class="btn-toolbar">
      <button id="addSource" type="button" class="btn btn-primary">Add</button>
      </div>
    </div>

</div>
{% endif %}
{% endif %}
{% endblock body %}
