{% extends "base.html" %}
{% block body %}
<script>
$(document).ready(function() {
  $(document).on("click", "#addSource", function(e) {
    var email = $("#email").val();
    var password = $("#password").val();
    var userInfo = {
      "email":email
    };
    $.ajax({
       url: '/add-mailbox',
       type: 'POST',
       data: JSON.stringify(userInfo, null, '\t'),
       contentType: 'application/json;charset=UTF-8',
       success: function(response) {
         var result = JSON.parse(response);
         window.location = result.browser_redirect_url;
       },
       error: function(error) {
         console.log(error);
       }
     });
  });
});

function removeSource(label) {
  var data = {
    "label":label
  };
  $.ajax({
     url: '/remove-mailbox',
     type: 'POST',
     data: JSON.stringify(data, null, '\t'),
     contentType: 'application/json;charset=UTF-8',
     success: function(response) {
       var result = JSON.parse(response);
       window.location = '/mailboxes';
     },
     error: function(error) {
       console.log(error);
     }
   });
};
function enable(label,status) {
    var data = {
        "label":label,
        "status":status
    };
    $.ajax({
        url: '/enable',
        type: 'POST',
        data: JSON.stringify(data, null, '\t'),
        contentType: 'application/json;charset=UTF-8',
        success: function(response) {
          var result = JSON.parse(response);
          window.location = '/mailboxes';
      },
      error: function(error) {
        console.log(error);
        }
      });
};
</script>
<h2> List of mailboxes </h2>
<div>
    <table>
        <tr>
            <th>Username</th>
            <th>Status</th>
            <th>Option</th>
        </tr>
        {% for source in sources %}
        <tr id = "box">
            <td>{{ source["username"] }}</td>
            <td>{{ source["status"] }}</td>
            <td><a href="javascript: removeSource('{{ source["label"]}}')">Remove</button></td>
            {%if source["status"] == "disabled"%}
              <td><a href="javascript: enable('{{ source["label"]}}',status)">Enable Account</button></td>
              {%endif%}
            
        </tr>
        {% endfor %}
        
    </table>
</div>
<div>
    <p id = "add">Enter the email address for the mailbox you would like to add:</p>
    <div>
        <label>Email:</label><br/>
        <input id="email" type="email" />
    </div>
    <button id="addSource" type="button">Add</button>
</div>
{% endblock body %}
