{% extends "base.html" %}
{% block body %}
{%if mailboxcount == 0 %}
    <p class="warning"> Hey, you will need to add mailboxes before you can view contacts. Add a mailbox by navigating over to Mailboxes and entering an email address you want us to analyze.</p>
{%else%}

<h2> List of contacts </h2>
{% for contact in listOfContacts %}
<div><p>{{ contact }}</p></div>
{% endfor %}

<button id="moreContacts"> < </button>
<button id="lessContacts"> > </button>
<script>


</script>

{%endif%}
{% endblock body %}