{% extends "base.html" %}
{% block body %}
<style>
.bar {
  fill: #0C090A;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 8px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#bar-x-axis path {
  display: none;
}

.breakdown-title {
  text-align: center;
  font-size: 18px;
}

.list-group-item {
 /*background: linear-gradient(to right, #bada55 0%, #bada55 50%,rgba(255,255,255,1) 51%,rgba(255,255,255,1) 100%);*/
}


</style>
<script>

 
function buildPersonalityChart(contactData, update) {
 

  // contains both the user and contact data - set in the angular controller
  var mergedData = $('[ng-model="dashboard.selectedContact"]').scope().dashboard.mergedViewData
   var data = []


   mergedData[0].children.forEach(function(d) {
    iobj = {};
    iobj.cat = d.name
    iobj.data = []
    d.children.forEach(function(dd) {
    obj = {}
    obj.name = dd.name;
    obj.user = dd.percentage
    iobj.data.push(obj)
    })
    data.push(iobj)
  })


  contactData.forEach(function(d,i) {
    d.data.forEach(function(dd,ii) {
      data[i].data[ii].contact = dd
    })
      
  })




    var margin = {top: 30, right: 20, bottom: 150, left: 40},
        width = $(".col-md-12").width() - margin.right - margin.left
        height = 300 

  var index = $('.list-group-item').closest(".selected")[0].id

  var x0 = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

var x1 = d3.scale.ordinal();

var y = d3.scale.linear()
    .range([height, 0]);

var color = d3.scale.ordinal()
    .range(["#98abc5", "#8a89a6"]);

var xAxis = d3.svg.axis()
    .scale(x0)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(10, "%");

var svg = d3.select(".chart").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


 if (update == true) {
      i = $('.list-group-item').closest(".selected")[0].id
      updateData(i, data, update)
  } else{

  var userValues = d3.keys(data[index].data[0]).filter(function(key) { return key !== "name"  });
  data[index].data.forEach(function(d) {
    d.values = userValues.map(function(name) { 
      return {name: name, value: +d[name]}; 
    });
  });

  x0.domain(data[index].data.map(function(d) { return d.name; }));
  x1.domain(userValues).rangeRoundBands([0, x0.rangeBand()]);
  y.domain([0, d3.max(data[index].data, function(d) { return d3.max(d.values, function(d) { return d.value; }); })])

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")


  var state = svg.selectAll("rect")
      .data(data[index].data)
    .enter().append("g")
      .attr("class", "g")
      .attr("transform", function(d) { return "translate(" + x0(d.name) + ",0)"; });

  state.selectAll("rect")
      .data(function(d) { return d.values; })
    .enter().append("rect")
      .attr("class","bar")
      .attr("width", x1.rangeBand())
      .attr("x", function(d) { return x1(d.name); })
      .attr("y", function(d) { return y(d.value); })
      .attr("height", function(d) { return  height - y(d.value); })
      .style("fill", function(d) { return color(d.name); });
  
  var legend = svg.selectAll(".legend")
      .data(userValues.slice().reverse())
    .enter().append("g")
      .attr("class", "legend")
      .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

  legend.append("rect")
      .attr("x", width - 18)
      .attr("width", 18)
      .attr("height", 18)
      .style("fill", color);

  legend.append("text")
      .attr("x", width - 24)
      .attr("y", 9)
      .attr("dy", ".35em")
      .style("text-anchor", "end")
      .text(function(d) { return d; });
  }

  function updateData(i, dataset, update) {
    if (update == true) {
          var data = dataset 
    console.log(i)

    } 
  /* main function to update the data when a user selects a new big 5 category */

    // each of the Big 5 id elements corresponds to it's index within the data
    
  // select the proper svg - this is key to making sure the correct data is updated 
  var svg = d3.select(".chart")


s=[]

 var userValues = d3.keys(data[i].data[1]).filter(function(key) { return key !== "name" && key !== "values" });
  data[i].data.forEach(function(d) {
    d.values = userValues.map(function(name) { 
      console.log(name)
      if (name != "values") {
      s.push({name: name, value: +d[name]})


      }
      return {name: name, value: +d[name]}; 
    });
  });

  x0.domain(data[i].data.map(function(d) { return d.name; }));
  x1.domain(userValues).rangeRoundBands([0, x0.rangeBand()]);
  y.domain([0, d3.max(data[i].data, function(d) { return d3.max(d.values, function(d) { return d.value; }); })])

    svg.select('.x.axis')
      .call(xAxis);


    svg.select('.y.axis')
      .call(yAxis)
        .append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".51em")



  var bar = svg.selectAll(".bar").data(s)

    bar.enter()

    bar.selectAll(".bar").append("rect").attr("class", "bar")

    bar.transition()
      .duration(300)
      .ease("quad")
      .attr("width", x1.rangeBand())
      .attr("x", function(d) { 
        return x1(d.name); 
      })
      .attr("y", function(d) { 
        return y(d.value); })
      .attr("height", function(d) { return  height - y(d.value); })
      .style("fill", function(d) { return color(d.name); });

    // remove the previous data
    bar.exit()
      .transition()
      .duration(200)
      .ease("quad")
      .attr("width", 0)
      .remove();

  }   


  // var legend = svg.selectAll(".legend")
  //     .data(userValues.slice().reverse())
  //   .enter().append("g")
  //     .attr("class", "legend")
  //     .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

  // legend.append("rect")
  //     .attr("x", width - 18)
  //     .attr("width", 18)
  //     .attr("height", 18)
  //     .style("fill", color);

  // legend.append("text")
  //     .attr("x", width - 24)
  //     .attr("y", 9)
  //     .attr("dy", ".35em")
  //     .style("text-anchor", "end")
  //     .text(function(d) { return d; });
    $('.list-group-item').click(function(e){
      

      // each of the Big 5 id elements corresponds to it's index within the data
      i = $(this)[0].id

      // indicate that the previous button is no longer selected
      $('.list-group-item').closest('.selected').removeClass('selected')
      
      // indicate which button has been selected
      $(this).addClass("selected")
      
      // capitalize category
      category = $(this)[0].textContent.toUpperCase()

      // update title
      $(".breakdown-title").text('Breaking it down: ' + category)

      // update data
      updateData(i)
    })
}
</script>
<div class="row" ng-controller="PersonalityController as dashboard">
  <div class="col-sm-12">
    <h2>Personality Dashboard</h2>
    <hr />
    <div class="row">
      <div class="col-md-6">
        <h3>The Big 5</h3>

      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="selectContact">Select a Contact</label>
          <select class="form-control" id="selectContact"
            ng-model="dashboard.selectedContact"
            ng-options="contact as (contact.name ? contact.name : contact.emails[0]) for contact in dashboard.contacts"
            ng-change="dashboard.getContactPersonality(true)">
          </select>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <!-- Big 5 for user goes here -->
      <!-- <p>[[dashboard.userPersonality]]</p> -->
            <ul class="list-group user">
              <button type="button" class="list-group-item user selected" id="0" onclick="this.blur();">Openness</button>
              <button type="button" class="list-group-item user" id="1" onclick="this.blur();">Conscientiousness</button>
              <button type="button" class="list-group-item user" id="2" onclick="this.blur();">Extraversion</button>
              <button type="button" class="list-group-item user" id="3" onclick="this.blur();">Agreeableness</button>
              <button type="button" class="list-group-item user" id="4" onclick="this.blur();">Emotional Range</button>
            </ul>
    </div>
    <div class="col-md-6">
      <!-- Big 5 for selected contact goes here -->
      <!-- <p>[[dashboard.contactPersonality]]</p> -->
            <ul class="list-group contact" >
              <button type="button" class="list-group-item contact selected" id="0" onclick="this.blur();">Openness</button>
              <button type="button" class="list-group-item contact" id="1" onclick="this.blur();">Conscientiousness</button>
              <button type="button" class="list-group-item contact" id="2" onclick="this.blur();">Extraversion</button>
              <button type="button" class="list-group-item contact" id="3" onclick="this.blur();">Agreeableness</button>
              <button type="button" class="list-group-item contact" id="4" onclick="this.blur();">Emotional Range</button>
            </ul>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-12 breakdown-title">
      <p>Breaking it down: OPENNESS</p>
    </div>
    <div class="col-md-12 personality-chart">
    </div>

</div>
<div class="row">
  <div class="col-md-12">
<div class="chart">
  </div>
  </div>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="{{ url_for('static', filename='js/crossfilter.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src="{{ url_for('static', filename='js/dc.js')}}"></script>
<script src="{{ url_for('static', filename='js/queue.js')}}"></script>
<script src="{{ url_for('static', filename='js/d3.tip.min.js')}}"></script>
{% endblock body %}
