{% extends "base.html" %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dc.cs')}}s">
<style>
  /* testing out d3 tooltip */
  .d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 8px;
  }

  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }

  /* Style northward tooltips differently */
  .d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.area {
    fill: lightsteelblue;
    stroke-width: 0;
}
</style>
<script>


// d3 chart -----------------------------

function toneChart(data, update) {

  function groupByAvg(data) {
  /* it was quicker for me to roll my own function to group and average the data 
   by date than to learn crossfilter.js although crossfilter is likely much more efficient */

    
   // initialize the array that will contain the flattened data
    flattenedData = []

   // flatten the nested data so that it is easier to work with
    data.forEach(function(d) {

      d.tone.to = d.to;
      d.tone.from = d.from;
      d.tone.owner = d.owner;
      d.tone.datetime = d.datetime

      flattenedData.push(d.tone)
    })

    // group the data by datetime
    var groupedData = _.groupBy(flattenedData, function(d) { return d.datetime }) 
    
    // keys that have non-numerical values and should not be aggregated
    var metaCats = ['to', 'from', 'owner', 'datetime']

    // initialize array that will store aggregated data
    aggData = []

    for (var k in groupedData) {
      
      // check to see if there are multiple arrays associated with a specific date
      if (groupedData[k].length != 1) {

        // initialize object that will store our aggreated values for a specific date
        aggVals = {};

        // iterate over the arrays associated with a specific date
        groupedData[k].forEach(function(d) {

          // iterate over the values in the data object
          for (var c in d) {

            // check to see if c is a value we don't want aggregated
            if ( (metaCats.indexOf(c) > -1) == false){

              // if the category is already in our data object we want to add to it
              if (c in aggVals) {

                aggVals[c] += (d[c] / groupedData[k].length)

              } else {

                // avoid having to iterate again by doing the division initially
                aggVals[c] = d[c] / groupedData[k].length
              }
            } else {

              // add the values that we do not want aggregated to our data object
              aggVals[c] = d[c]
            }
          }
        })
          // add our aggreated values to our final data object
          aggData.push(aggVals)

      } else {
        // add the data from the arrays that did not have multiple arrays associated with a date to 
        // our final data object
        aggData.push(groupedData[k][0])
      }
    }
  return aggData
  } // groupByAvg

  // get grouped data
  var data = groupByAvg(data);

      // convert datetime from milliseconds
      data.forEach(function(d) {
        d.datetime = new Date(d.datetime * 1000);
      })

  var margin = {top: 30, right: 20, bottom: 150, left: 50},
      width = $(".col-md-6").width() - margin.right - margin.left
      height = 300  

  // scale the x data
  var x = d3.time.scale()
      .range([0, width]);

  //scale the y data
  var y = d3.scale.linear()
      .range([height, 0]);

  var xAxis = d3.svg.axis()
      .scale(x)    
      .tickSize(0) // remove tick lines
      .orient("bottom");

  var yAxis = d3.svg.axis()
      .scale(y)
      .ticks(10, "%")
      .orient("left");

  if (update == true) {
    updateContactData(data)
  } else {

  // initialize area object for filling the area under the line
  var area = d3.svg.area()
      .x(function(d) { return x(d.datetime); })
      .y0(height)
      .y1(function(d) { return y(d['Social Tone.Conscientiousness']); });

  // initialize line object
  var line = d3.svg.line()
      .interpolate("linear") 
      .x(function(d) { return x(d.datetime); })
      .y(function(d) { return y(d['Social Tone.Conscientiousness']); });

  var svg = d3.select("#tone-graph").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

     x.domain(d3.extent(data, function(d) { return d.datetime; }));
     y.domain(d3.extent(data, function(d) { return d['Social Tone.Conscientiousness']; }));

    svg.append("path")
            .datum(data)
            .attr("class", "area")
            .attr("d", area);

      svg.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(-10," + (height + 30) + ")")
          .call(xAxis)
            .selectAll('text')
            .attr("transform", "rotate(-65)" )


      svg.append("g")
          .attr("class", "y axis")
          .call(yAxis)


      svg.append("path")
          .datum(data)
          .attr("class", "line")
          .attr("d", line);

} // else

  function updateData(cat) {

      var svg = d3.select("svg")

        x.domain(d3.extent(data, function(d) { return d.datetime; }));
        y.domain(d3.extent(data, function(d) { return d[cat]; }));

        svg.select('.x.axis')
          .call(xAxis)
          .selectAll('text')
          .attr("transform", "rotate(-65)" )

        svg.select('.y.axis')
          .call(yAxis)

      var line = d3.svg.line()
        .interpolate("linear") 
        .x(function(d) { return x(d.datetime); })
        .y(function(d) { return y(d[cat]); });

      var path = svg.select('.line').datum(data)

        path.append("path")
          .attr("class", "line");
      
        path.transition()
          .duration('400')
          .ease("quad")
          .attr("d", line);

      var area = d3.svg.area()
          .x(function(d) { return x(d.datetime); })
          .y0(height)
          .y1(function(d) { return y(d[cat]); });

      var area2 = svg.select('.area').datum(data)
    
          area2.append("path")
            .attr("class", "area")
                  
          // enter the new data
            area2.transition()
              .duration('400')
              .ease('quad')
              .attr("d", area);    

    } // update data

      $("#totalToneList").change(function(){
        cat = $(this)[0].selectedOptions[0].id
        updateData(cat)
      })

  function updateContactData(data) {
        
      // get selected category
      var cat = $("#totalToneList")[0].selectedOptions[0].id

      // select svg       
      var svg = d3.select("svg")

        x.domain(d3.extent(data, function(d) { return d.datetime; }));
        y.domain(d3.extent(data, function(d) { return d[cat]; }));

        // create x axis
        svg.select('.x.axis')
          .call(xAxis)
            .selectAll('text')
            .attr("transform", "rotate(-65)" )

        // create y axis
        svg.select('.y.axis')
          .call(yAxis)

      // initialize line object
      var line = d3.svg.line()
        .interpolate("linear") 
        .x(function(d) { return x(d.datetime); })
        .y(function(d) { return y(d[cat]); });

      // initialize path of line
      var path = svg.select('.line').datum(data)

          path.append("path")
            .attr("class", "line");
        
          path.transition()
            .duration('400')
            .ease("linear")
            .attr("d", line);

      // initialize area object
      var area = d3.svg.area()
          .x(function(d) { return x(d.datetime); })
          .y0(height)
          .y1(function(d) { return y(d[cat]); });

      // select section of svg where the area data should be bound to
      var area2 = svg.select('.area').datum(data)
          
          area2
            .append("path")
            .attr("class", "area")
                  
          // enter the new data
          area2.transition()
            .duration('400')
            .ease('linear')
            .attr("d", area); 


  } // updateContactData

}


</script>
<div class="row" ng-controller="ToneController as dashboard">
  <div class="col-sm-12">
    <h2>Tone Dashboard</h2>
    <hr />
    <div class="row">
      <div class="col-md-6">
        <h4 class="pull-left">How do I communicate</h4>
        <div class="pull-right form-inline">
          <div class="form-group">
            <label class="radio-inline">
                <input type="radio" name="optionsRadios" id="optionsRadios1"
                  value="user" checked ng-model="dashboard.toneSwitch"
                  ng-change="dashboard.getContactTone()">
                in my emails &nbsp;
            </label>
          </div>
          <div class="form-group">
            <label class="radio-inline">
                <input type="radio" name="optionsRadios" id="optionsRadios2"
                  value="contact" ng-model="dashboard.toneSwitch"
                  ng-change="dashboard.getContactTone()">
                with &nbsp;
            </label>
          </div>
          <div class="form-group">
            <select class="form-control pull-right" id="selectContact"
              ng-model="dashboard.selectedContact"
              ng-options="contact as (contact.name ? contact.name : contact.emails[0]) for contact in dashboard.contacts"
              ng-change="dashboard.getContactTone(true)"
              ng-disabled="dashboard.toneSwitch=='user'">
              <option value="">--- Select a contact ---</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-condensed">
          <tr><td colspan="3"><h4>Emotional Tone</h4></td></tr>
          <tr><td>&nbsp;</td><td>Cheerfulness</td><td>[[ dashboard.toneRollup.Cheerfulness/dashboard.selectedTone.length | percentage ]]</td></tr>
          <tr><td>&nbsp;</td><td>Negativity</td><td>[[ dashboard.toneRollup.Negative/dashboard.selectedTone.length | percentage ]]</td></tr>
          <tr><td>&nbsp;</td><td>Anger</td><td>[[ dashboard.toneRollup.Anger/dashboard.selectedTone.length | percentage ]]</td></tr>
          <tr><td colspan="3"><h4>Social Tone</h4></td></tr>
          <tr><td>&nbsp;</td><td>Agreeableness</td><td>[[ dashboard.toneRollup.Agreeableness/dashboard.selectedTone.length | percentage ]]</td></tr>
          <tr><td>&nbsp;</td><td>Conscientiousness</td><td>[[ dashboard.toneRollup.Conscientiousness/dashboard.selectedTone.length | percentage ]]</td></tr>
          <tr><td>&nbsp;</td><td>Openness</td><td>[[ dashboard.toneRollup.Openness/dashboard.selectedTone.length | percentage ]]</td></tr>
          <tr><td colspan="3"><h4>Writing Tone</h4></td></tr>
          <tr><td>&nbsp;</td><td>Confident</td><td>[[ dashboard.toneRollup.Confident/dashboard.selectedTone.length | percentage ]]</td></tr>
          <tr><td>&nbsp;</td><td>Analytical</td><td>[[ dashboard.toneRollup.Analytical/dashboard.selectedTone.length | percentage ]]</td></tr>
          <tr><td>&nbsp;</td><td>Tentative</td><td>[[ dashboard.toneRollup.Tentative/dashboard.selectedTone.length | percentage ]]</td></tr>
        </table>
      </div>
      <div class="col-md-6">
        <div class="col-sm-9">
          <div class="chart-wrapper">
            <div class="chart-title">
              <div class="from-group">
                <label class="control-label" style="padding-top: 5px;">Tone Over Time</label>
                <div class="col-md-6  pull-right">
                  <select id="totalToneList" class="form-control">
                    <option id='Social Tone.Conscientiousness' value="Conscientiousness" selected="selected">Conscientiousness</option>
                    <option id='Social Tone.Agreeableness' value="Agreeableness">Agreeableness</option>
                    <option id='Writing Tone.Analytical' value="Analytical">Analytical</option>
                    <option id='Emotion Tone.Anger'  value="Anger">Anger</option>
                    <option id='Writing Tone.Confident' value="Confident">Confident</option>
                    <option id='Emotion Tone.Cheerfulness' value="Cheerfulness">Cheerfulness</option>
                    <option id='Emotion Tone.Negative' value="Negative">Negative</option>
                    <option id='Social Tone.Openness'value="Openness">Openness</option>
                    <option id='Writing Tone.Tentative' value="Tentative">Tentative</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="chart-stage">
              <div id="tone-graph" style="height:auto; width: auto;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="{{ url_for('static', filename='js/crossfilter.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src="{{ url_for('static', filename='js/dc.js')}}"></script>
<script src="{{ url_for('static', filename='js/queue.js')}}"></script>
<script src="{{ url_for('static', filename='js/d3.tip.min.js')}}"></script>
{% endblock body %}
