{% extends "base.html" %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dc.cs')}}s">
<style>
  /* testing out d3 tooltip */
  .d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 8px;
  }

  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }

  /* Style northward tooltips differently */
  .d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }

</style>
<script>
// function buildTonesD3Chart(data) {
//   //Clean projectsJson data
//   var subjectviewsData = data;

//   subjectviewsData.forEach(function(d) {
//       d.datetime = new Date(d.datetime * 1000);
//   });
//   console.log(subjectviewsData);

//   /*var dateFormat = d3.time.format("%m/%d/%Y");
//       subjectviewsData.forEach(function(d) {
//       d.datetime = dateFormat.parse(d.datetime);
//               d.datetime.setDate(1);
//   });
//   */



//   //Create a Crossfilter instance
//   var ndx = crossfilter(subjectviewsData);
//   //Define Dimensions
//   var hostName = ndx.dimension(function(d) { return d.from; });
//   var subject = ndx.dimension(function(d) { return d.subject; });
//   var contact = ndx.dimension(function(d) { return d.to; });
//   var dateTime = ndx.dimension(function(d) { return d.datetime; });


//   var wtConfident = ndx.dimension(function(d) { return d["tone"]["Writing Tone.Confident"]; });
//   var wtTentative = ndx.dimension(function(d) { return d["tone"]["Writing Tone.Tentative"]; });
//   var wtAnalytical = ndx.dimension(function(d) { return d["tone"]["Writing Tone.Analytical"]; });

//   var stCons = ndx.dimension(function(d) { return d["tone"]["Social Tone.Conscientiousness"]; });
//   var stAgree = ndx.dimension(function(d) { return d["tone"]["Social Tone.Agreeableness"]; });
//   var stOpen = ndx.dimension(function(d) { return d["tone"]["Social Tone.Openness"]; });

//   var etNegative = ndx.dimension(function(d) { return d["tone"]["Emotion Tone.Negative"]; });
//   var etAnger = ndx.dimension(function(d) { return d["tone"]["Emotion Tone.Anger"]; });
//   var etCheer = ndx.dimension(function(d) { return d["tone"]["Emotion Tone.Cheerfulness"]; });

//   var wtcGroup = contact.group().reduceSum(function(d) {
//       return d["tone"]["Writing Tone.Confident"];
//   });
//   var wttGroup = contact.group().reduceSum(function(d) {
//       return d["tone"]["Writing Tone.Tentative"];
//   });
//   var wtaGroup = contact.group().reduceSum(function(d) {
//       return d["tone"]["Writing Tone.Analytical"];
//   });
//   var stcGroup = contact.group().reduceSum(function(d) {
//       return d["tone"]["Social Tone.Conscientiousness"];
//   });
//   var staGroup = contact.group().reduceSum(function(d) {
//       return d["tone"]["Social Tone.Agreeableness"];
//   });
//   var stoGroup = contact.group().reduceSum(function(d) {
//       return d["tone"]["Social Tone.Openness"];
//   });
//   var etnGroup = contact.group().reduceSum(function(d) {
//       return d["tone"]["Emotion Tone.Negative"];
//   });
//   var etaGroup = contact.group().reduceSum(function(d) {
//       return d["tone"]["Emotion Tone.Anger"];
//   });
//   var etcGroup = contact.group().reduceSum(function(d) {
//       return d["tone"]["Emotion Tone.Cheerfulness"];
//   });


//   var wtcGroup2 = dateTime.group().reduceSum(function(d) {
//       return d["tone"]["Writing Tone.Confident"];
//   });
//   var wttGroup2 = dateTime.group().reduceSum(function(d) {
//       return d["tone"]["Writing Tone.Tentative"];
//   });
//   var wtaGroup2 = dateTime.group().reduceSum(function(d) {
//       return d["tone"]["Writing Tone.Analytical"];
//   });
//   var stcGroup2 = dateTime.group().reduceSum(function(d) {
//       return d["tone"]["Social Tone.Conscientiousness"];
//   });
//   var staGroup2 = dateTime.group().reduceSum(function(d) {
//       return d["tone"]["Social Tone.Agreeableness"];
//   });
//   var stoGroup2 = dateTime.group().reduceSum(function(d) {
//       return d["tone"]["Social Tone.Openness"];
//   });
//   var etnGroup2 = dateTime.group().reduceSum(function(d) {
//       return d["tone"]["Emotion Tone.Negative"];
//   });
//   var etaGroup2 = dateTime.group().reduceSum(function(d) {
//       return d["tone"]["Emotion Tone.Anger"];
//   });
//   var etcGroup2 = dateTime.group().reduceSum(function(d) {
//       return d["tone"]["Emotion Tone.Cheerfulness"];
//   });

//   var minDate = dateTime.bottom(1)[0].datetime;
//   var maxDate = dateTime.top(1)[0].datetime;

//   console.log(minDate);
//   console.log(maxDate);

//   /*
//   new datamin = minDate - (0.1* minDate);
//   console.log(datamin);*/



//   //bin counter start

//   function bin_counter(group) {
//   return {
//       value: function() {
//           return group.all().filter(function(kv) {
//              return kv.value > 0;
//           }).length;
//       }
//   };
//   }

//    var all = ndx.groupAll();
//   //Charts

//   var totalToneLine = dc.lineChart("#tone-graph", "nettone");
//   var detailsRowChart = dc.rowChart("#row-chart", "nettone");
//   var confidenceNumber = dc.numberDisplay("#number-box1", "nettone");
//   var tentativeNumber = dc.numberDisplay("#number-box2", "nettone");
//   var analyticalNumber = dc.numberDisplay("#number-box3", "nettone");
//   var conscientiounessNumber = dc.numberDisplay("#number-box4", "nettone");
//   var agreeablenessNumber = dc.numberDisplay("#number-box5", "nettone");
//   var opennessNumber = dc.numberDisplay("#number-box6", "nettone");
//   var negativeNumber = dc.numberDisplay("#number-box7", "nettone");
//   var angerNumber = dc.numberDisplay("#number-box8", "nettone");
//   var cheerfulnessNumber = dc.numberDisplay("#number-box9", "nettone");


//       confidenceNumber
//            .formatNumber(d3.format(".3n"))
//           .valueAccessor(function(x){ return +wtConfident.groupAll().reduceSum(function(d) { return d["tone"]["Writing Tone.Confident"]; }).value();})
//           .group(bin_counter(wtcGroup));

//       tentativeNumber
//            .formatNumber(d3.format(".3n"))
//           .valueAccessor(function(x){ return +wtTentative.groupAll().reduceSum(function(d) { return d["tone"]["Writing Tone.Tentative"]; }).value();})
//           .group(bin_counter(wttGroup));
//       analyticalNumber
//            .formatNumber(d3.format(".3n"))
//           .valueAccessor(function(x){ return +wtAnalytical.groupAll().reduceSum(function(d) { return d["tone"]["Writing Tone.Analytical"]; }).value();})
//           .group(bin_counter(wtaGroup));
//       conscientiounessNumber
//            .formatNumber(d3.format(".3n"))
//           .valueAccessor(function(x){ return +stCons.groupAll().reduceSum(function(d) { return d["tone"]["Social Tone.Conscientiousness"]; }).value();})
//           .group(bin_counter(stcGroup));
//       agreeablenessNumber
//           .formatNumber(d3.format(".3n"))
//           .valueAccessor(function(x){ return +stAgree.groupAll().reduceSum(function(d) { return d["tone"]["Social Tone.Agreeableness"]; }).value();})
//           .group(bin_counter(staGroup));
//       opennessNumber
//            .formatNumber(d3.format(".3n"))
//           .valueAccessor(function(x){ return +stOpen.groupAll().reduceSum(function(d) { return d["tone"]["Social Tone.Openness"]; }).value();})
//           .group(bin_counter(stoGroup));
//       negativeNumber
//            .formatNumber(d3.format(".3n"))
//           .valueAccessor(function(x){ return +etNegative.groupAll().reduceSum(function(d) { return d["tone"]["Emotion Tone.Negative"]; }).value();})
//           .group(bin_counter(etnGroup));
//       angerNumber
//           .formatNumber(d3.format(".3n"))
//           .valueAccessor(function(x){ return +etAnger.groupAll().reduceSum(function(d) { return d["tone"]["Emotion Tone.Anger"]; }).value();})
//           .group(bin_counter(etaGroup));
//       cheerfulnessNumber
//           .formatNumber(d3.format(".3n"))
//           .valueAccessor(function(x){ return +etCheer.groupAll().reduceSum(function(d) { return d["tone"]["Emotion Tone.Cheerfulness"]; }).value();})
//           .group(bin_counter(etcGroup));



//   detailsRowChart
//       //.width(300)
//       .height(250)
//       .margins({top: 10, right: 50, bottom: 30, left: 10})
//       .transitionDuration(1000)
//       .dimension(wtConfident)
//       .gap(10)
//       .group(wtcGroup2)
//       .ordinalColors(["#eb5768","#2bbf9f","#3E94EF"])
//       .ordering(function(d) { return -d.key })
//       .label(function(d){
//               return d.key + " : " + (d.value / ndx.groupAll().reduceCount().value() * 100).toFixed(1) + "%";
//           })
//       .elasticX(true)
//       .xAxis().ticks(8);




//   function ttl(param, chartName){
//       totalToneLine
//           //.width(600)
//           .height(420)
//           .margins({top: 10, right: 30, bottom: 30, left: 50})
//           .dimension(dateTime)
//           .group(param, chartName)
//           .brushOn(false)
//           .renderArea(false)
//           .elasticY(true)
//           .elasticX(true)
//           .transitionDuration(500)
//           .x(d3.time.scale().domain([minDate, maxDate]))
//               .renderlet(function(chart) {
//       chart.svg().select('.chart-body').attr('clip-path', null)
//   })

//           .renderHorizontalGridLines(true)
//           .renderVerticalGridLines(true)
//           .legend(dc.legend().x(70).y(20).itemHeight(8).gap(4))
//           .xAxis().tickFormat(d3.time. format('%d/%m/%y'));
//   }
//   ttl(stcGroup2, "Conscientiousness");

//       dc.dataCount("#row-selection")
//       .dimension(ndx)
//       .group(all);

//       dc.renderAll();
//       dc.renderAll("nettone");

//   $("#totalToneList").change(function(){
//       var selectedVal = $(this).val();

//       if(selectedVal == "Conscientiousness"){
//           ttl(stcGroup2, "Conscientiousness");
//       }
//       else if(selectedVal == "Agreeableness"){
//           ttl(staGroup2, "Agreeableness");
//       }

//       else if(selectedVal == "Confident"){
//           ttl(wtcGroup2, "Confident");
//       }
//       else if(selectedVal == "Tentative"){
//           ttl(wttGroup2, "Tentative");
//       }
//       else if(selectedVal == "Analytical"){
//           ttl(wtaGroup2, "Analytical");
//       }
//       else if(selectedVal == "Openness"){
//           ttl(stoGroup2, "Openness");
//       }
//       else if(selectedVal == "Negative"){
//           ttl(etnGroup2, "Negative");
//       }
//       else if(selectedVal == "Anger"){
//           ttl(etaGroup2, "Anger");
//       }
//       else if(selectedVal == "Cheerfulness"){
//           ttl(etcGroup2, "Cheerfulness");
//       }
//       dc.renderAll("nettone");
//   });
// }
</script>
<div class="row" ng-controller="ToneController as dashboard">
  <div class="col-sm-12">
    <h2>Tone Dashboard</h2>
    <hr />
    <div class="row">
      <div class="col-md-6">
        <h4 class="pull-left">How do I communicate</h4>
        <div class="pull-right form-inline">
          <div class="form-group">
            <label class="radio-inline">
                <input type="radio" name="optionsRadios" id="optionsRadios1"
                  value="user" checked ng-model="dashboard.toneSwitch"
                  ng-change="dashboard.getContactTone()">
                in my emails &nbsp;
            </label>
          </div>
          <div class="form-group">
            <label class="radio-inline">
                <input type="radio" name="optionsRadios" id="optionsRadios2"
                  value="contact" ng-model="dashboard.toneSwitch"
                  ng-change="dashboard.getContactTone()">
                with &nbsp;
            </label>
          </div>
          <div class="form-group">
            <select class="form-control pull-right" id="selectContact"
              ng-model="dashboard.selectedContact"
              ng-options="contact as (contact.name ? contact.name : contact.emails[0]) for contact in dashboard.contacts"
              ng-change="dashboard.getContactTone()"
              ng-disabled="dashboard.toneSwitch=='user'">
              <option value="">--- Select a contact ---</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-condensed">
          <tr><td colspan="3"><h4>Emotional Tone</h4></td></tr>
          <tr><td>&nbsp;</td><td>Cheerfulness</td><td>[[ dashboard.toneRollup.Cheerfulness/dashboard.selectedTone.length | percentage ]]</td></tr>
          <tr><td>&nbsp;</td><td>Negativity</td><td>[[ dashboard.toneRollup.Negative/dashboard.selectedTone.length | percentage ]]</td></tr>
          <tr><td>&nbsp;</td><td>Anger</td><td>[[ dashboard.toneRollup.Anger/dashboard.selectedTone.length | percentage ]]</td></tr>
          <tr><td colspan="3"><h4>Social Tone</h4></td></tr>
          <tr><td>&nbsp;</td><td>Agreeableness</td><td>[[ dashboard.toneRollup.Agreeableness/dashboard.selectedTone.length | percentage ]]</td></tr>
          <tr><td>&nbsp;</td><td>Conscientiousness</td><td>[[ dashboard.toneRollup.Conscientiousness/dashboard.selectedTone.length | percentage ]]</td></tr>
          <tr><td>&nbsp;</td><td>Openness</td><td>[[ dashboard.toneRollup.Openness/dashboard.selectedTone.length | percentage ]]</td></tr>
          <tr><td colspan="3"><h4>Writing Tone</h4></td></tr>
          <tr><td>&nbsp;</td><td>Confident</td><td>[[ dashboard.toneRollup.Confident/dashboard.selectedTone.length | percentage ]]</td></tr>
          <tr><td>&nbsp;</td><td>Analytical</td><td>[[ dashboard.toneRollup.Analytical/dashboard.selectedTone.length | percentage ]]</td></tr>
          <tr><td>&nbsp;</td><td>Tentative</td><td>[[ dashboard.toneRollup.Tentative/dashboard.selectedTone.length | percentage ]]</td></tr>
        </table>
      </div>
      <div class="col-md-6">
        <div class="col-sm-9">
          <div class="chart-wrapper">
            <div class="chart-title">
              <div class="from-group">
                <label class="control-label" style="padding-top: 5px;">Tone Over Time</label>
                <div class="col-md-6  pull-right">
                  <select id="totalToneList" class="form-control">
                    <option value="Conscientiousness" selected="selected">Conscientiousness</option>
                    <option value="Agreeableness">Agreeableness</option>
                    <option value="Analytical">Analytical</option>
                    <option value="Anger">Anger</option>
                    <option value="Confident">Confident</option>
                    <option value="Cheerfulness">Cheerfulness</option>
                    <option value="Negative">Negative</option>
                    <option value="Openness">Openness</option>
                    <option value="Tentative">Tentative</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="chart-stage">
              <div id="tone-graph" style="height:auto; width: auto;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/crossfilter.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src="{{ url_for('static', filename='js/dc.js')}}"></script>
<script src="{{ url_for('static', filename='js/queue.js')}}"></script>
<script src="{{ url_for('static', filename='js/d3.tip.min.js')}}"></script>
{% endblock body %}
